<!--
Some of this code was created by Professor Wergles
The rest of it was created by Patrick Kunza
-->
<?php
echo '
<div class="topPage">
        <div class="ui-widget pageWidget">
            <h1 class="ui-widget-header">Welcome to Deep Learning</h1>
        </div>
        <div>    
            <a class="logout" href="logout.php">Logout</a>
        </div>
        <ul>
            <li><div id="tile" ><a href="page1.php">Home</a></div></li>
        </ul>
    </div>
';
?>