*{
    margin: 0px;
    padding: 0px;
}
body {
    /* font-family: cursive, Helvetica, sans-serif; */
    font-size: 18px;
    font-weight: 400;
    color: #222;
}
.headerDiv{
    display: flex;
    background-color: silver;
    padding:30px 6px 20px 6px;
    height: 40px;
    width: 100%;
    box-shadow: 1px 1px 10px gray;
    border-bottom: .5px solid red; 
    
}
.signup{
    /* position: relative; 
    left: 86%; */
    margin-right: 15px;
    color: white;
    font-family: cursive, Helvetica, sans-serif;
    /* border: 1px solid red; */
}
.login{
    /* position: relative;
    left: 60%; */
    margin-right: 14px;
    color: white;
    font-family: cursive, Helvetica, sans-serif;
    /* border: 1px solid red; */
}
a{
    text-decoration: none;
    /* border: 1px solid red; */
}
.empty{
    flex: 1;
}
.logo2{
    color: red;
    margin: 2px;
}
.logo1,.logo2{
    font-size: 25px;
    margin: 2px;
    font-family: 'Clarkson',Helvetica,sans-serif;
}
img{
    
    height: 30px;
    margin-left: 9px;
}
 .login::after{
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: width 1s;
}
.login::before{
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: width 1s;
}

.signup::after{
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: width 1s;
}
.signup::before{
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: width 1s;
}
.login:hover::before{
    width: 100%;  
}
.login:hover::after{
    width: 100%;  
}
.signup:hover::after{
    width: 100%;
} 
.signup:hover::before{
    width: 100%;
} 
